* {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.contenido-pagina {
  background: url("../imgs/setup-bg.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*style navigation bar*/

.contenedor {
  width: 80%;
  margin: 0 auto;
}

.nav {
  position: fixed;
}
/* header {
  background-color: #444444;
}

header::after {
  content: "";
  display: table;
  clear: both;
} */
/* 
.logo {
  float: left;
  padding: 10px;
} */

/* nav {
  float: right;
} */

/* nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
} */

/* nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 17px;
  position: relative;
} */

/* nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  color: #55d6aa;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
} */

/*style webpage content*/

.profile-card {
  width: 420px;
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #00000070;
}
.top-section {
  padding: 60px 40px;
  background: #2c2c54aa;
}

.message,
.notif {
  position: absolute;
  top: 40px;
  font-size: 20px;
  color: #ffffff50;
}

.message {
  right: 40px;
}
.notif {
  left: 40px;
}

.pic {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #2c3e50;
  border-radius: 50%;
  padding: 8px;
  position: relative;
}

.pic:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #2c3e50;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  animation: wave 1.5s infinite linear;
}

@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  color: #f1f1f1;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tag {
  font-size: 18px;
  color: #d6a4a4;
}

.bottom-section {
  background: #f1f1f1;
  padding: 60px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  z-index: 1;
}

.social-media i {
  width: 60px;
  height: 60px;
  background: #2c3e50;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 20px;
  line-height: 60px !important;
  margin: 0 10px;
  position: relative;
}

.social-media i:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2c3e50;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s linear;
}

.social-media i:hover:after {
  transform: scale(1.4);
  opacity: 0;
}
